---
import TitleSection from '../../components/TitleSection.astro'

import { getCollection } from 'astro:content';
const proyects = await getCollection('proyects')
import CardProyect from './components/CardProyect.astro'

interface proyectItem {
  data:{
    title:string,
    repoURL:string,
    depoURL:string,
    description:string
  }
}

---
<div>
  <TitleSection text="📦 Proyects"/> 
  <div class="mt-5 grid sm:grid-cols-2 text-white gap-5">    
      {
      proyects.map((item:proyectItem)=>{
        const {data} = item
        const {title,repoURL,depoURL,description}=data
        return(
        <CardProyect 
          title={title}
          repoURL={repoURL}
          description={description}
          depoURL={depoURL}
        />
        )
      })
      }
  </div> 
</div>
